---
import FormattedDate from "./FormattedDate.astro";
interface Props {
  title: string;
  description: string;
  pubDate: Date;
  url: string;
}

const { title, description, pubDate, url } = Astro.props;
---

<li
  class="relative dark:text-zinc-400 text-zinc-600 flex flex-col gap-2 sm:gap-3 sm:p-5 dark:sm:hover:bg-zinc-800 sm:hover:bg-zinc-200 transition-colors"
>
  <FormattedDate
    date={pubDate}
    class:list="block text-sm tracking-wide dark:text-zinc-400 text-zinc-600"
    transition:name={pubDate.toISOString()}
  />

  <a
    class="text-lg before:absolute before:inset-0 font-semibold dark:text-zinc-100 text-zinc-700"
    href={url}
    transition:name={title}
  >
    {title}
  </a>
  <p class="leading-relaxed max-w-prose">{description}</p>
</li>
