---
import { defaultMeta } from "../data/socials";
import Devto from "./Icons/Devto.astro";
import Email from "./Icons/Email.astro";
import Github from "./Icons/Github.astro";
import LinkedIn from "./Icons/LinkedIn.astro";
import Telegram from "./Icons/Telegram.astro";
import Twitter from "./Icons/Twitter.astro";
import Medium from "./Icons/Medium.astro";
import Hashnode from "./Icons/Hashnode.astro";

const { github, email, linkedIn, telegram, twitter, devto, medium, hashnode } =
  defaultMeta;
---

<div class="mt-12 flex flex-col gap-2">
  <span class="dark:text-zinc-300 text-zinc-700 text-center">All my Links:</span
  >
  <hr class="m-auto w-[10rem]" />

  <footer role="contentinfo" class="flex items-center justify-center gap-4">
    <a
      aria-label="Email"
      href={`mailto:${email}`}
      class="dark:text-zinc-300 text-zinc-700 hover:text-zinc-500"
    >
      <span class="sr-only">Email</span>
      <Email class="w-6 h-6" />
      <!-- <Icon name="line-md:email-twotone" class="w-6 h-6" /> -->
    </a>
    <a
      aria-label="Github"
      href={`https://github.com/${github}`}
      class="dark:text-zinc-300 text-zinc-700 hover:text-zinc-500"
    >
      <span class="sr-only">Github</span>
      <Github class="w-6 h-6" />
    </a>
    <a
      aria-label="LinkedIn"
      href={`https://www.linkedin.com/in/${linkedIn}`}
      class="dark:text-zinc-300 text-zinc-700 hover:text-zinc-500"
    >
      <span class="sr-only">LinkedIn</span>
      <LinkedIn class="w-6 h-6" />
    </a>
    <a
      aria-label="Telegram"
      href={`https://www.t.me/${telegram}`}
      class="dark:text-zinc-300 text-zinc-700 hover:text-zinc-500"
    >
      <span class="sr-only">Telegram</span>
      <Telegram class="w-6 h-6" />
    </a>
    <a
      aria-label="X"
      href={`https://twitter.com/${twitter}`}
      class="dark:text-zinc-300 text-zinc-700 hover:text-zinc-500"
    >
      <span class="sr-only">Twitter</span>
      <Twitter class="w-6 h-6" />
    </a>
    <a
      aria-label="Devto"
      href={`https://dev.to/${devto}`}
      class="dark:text-zinc-300 text-zinc-700 hover:text-zinc-500"
    >
      <span class="sr-only">Dev.to</span>
      <Devto class="w-6 h-6" />
    </a>
    <a
      aria-label="medium"
      href={`https://medium.com/${medium}`}
      class="dark:text-zinc-300 text-zinc-700 hover:text-zinc-500"
    >
      <span class="sr-only">Medium</span>
      <Medium class="w-6 h-6" />
    </a>
    <a
      aria-label="hashnode"
      href={`https://hashnode.com/${hashnode}`}
      class="dark:text-zinc-300 text-zinc-700 hover:text-zinc-500"
    >
      <span class="sr-only">Hashnode</span>
      <Hashnode class="w-6 h-6" />
    </a>
  </footer>
</div>
