---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import { name } from "../data/socials";
import Header from "../components/Header.astro";
import BlogCard from "../components/BlogCard.astro";
import BlogListPagination from "../components/BlogListPagination.astro";
import Rss from "../components/Icons/Rss.astro";

export interface Props {
  pageNum: number;
  totalPages: number;
  posts: CollectionEntry<"blog">[];
}

const { pageNum, totalPages, posts } = Astro.props;

const prev = pageNum > 1 ? "" : "disabled";
const next = pageNum < totalPages ? "" : "disabled";

const title = `Blog | ${name}`;
const description =
  "My personal collection of code snippets, starter guides, tutorials and interesting things I found online.";
---

<BaseLayout title={title} description={description}>
  <Header title={`Blog. ${pageNum > 1 ? `Page ${pageNum}` : ""}`}>
    <a href="/rss.xml" aria-label="rss feed" class="hover:text-zinc-500">
      <Rss class="w-6" />
    </a>
  </Header>
  <p
    class="max-w-prose mb-10 font-normal dark:text-zinc-400 text-zinc-600 leading-relaxed"
  >
    {description}
  </p>
  <ul class="flex flex-col gap-8 sm:border-l sm:dark:border-zinc-800">
    {
      posts.map((post) => (
        <BlogCard
          title={post.data.title}
          description={post.data.description}
          pubDate={post.data.pubDate}
          url={`/blog/${post.slug}`}
        />
      ))
    }
  </ul>
  <BlogListPagination
    totalPages={totalPages}
    pageNum={pageNum}
    prevDisabled={prev === "disabled"}
    nextDisabled={next === "disabled"}
  />
</BaseLayout>
<style>
  h1 {
    display: flex;
    align-items: baseline;
    gap: 1rem;
  }
</style>
